
.row-currency {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

input[type="number"] {
  width: 150px;
  height: 35px;
  border: 1px solid rgb(0, 0, 0);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 28.13px;
  text-align: left;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 28.13px;
}

.select-from-currency {
  width: 156px;
  height: 41px;
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  left: 231px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 28.13px;
  text-align: left;
}

.select-to-currency {
  width: 156px;
  height: 41px;
  border: 1px solid rgb(0, 0, 0);
  position: absolute;
  left: 412px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 28.13px;
  text-align: left;
}

.you-are-transferring-from-text {
  position: absolute;
  left: 54px;
}

.equal-text {
  margin: 7px;
}

a {
  color: rgba(0, 0, 0, 37%);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 28.13px;
}
.swap-text {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-values {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
  
.title {
  width: 800px;
  height: 24px;

  margin-top: 100px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28.13px;
  text-align: center;

}

.main-form {
  width: 800px;
  height: 600px;
  margin-top: 100px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(87, 87, 87);
  position: relative;
}

body {
  background-color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
}